@import "~bootstrap/scss/bootstrap";
@import "partials/home";
@import "partials/show";
@import "partials/create";
@import "partials/error";

body {
    background-color: #2b292e;
}

.container {
    background-color: #2b292e;
    color: white;

    img {
        width: 30%;
        aspect-ratio: 1 / 1.5;
        object-fit: cover;
    }

    a {
        margin-bottom: 2rem;
    }
}

.general-container {
    width: 90vw;
    height: 100vh;
    margin-inline: auto;

    .main-title {
        color: white;
        text-align: center;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .general-buttons {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .comic-thumb {
        width: 130px;
        height: auto;
        aspect-ratio: 1 / 1.5;
        object-fit: cover;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    }

    li {
        white-space: nowrap;
        height: 100%;
        font-size: 0.8rem;
        margin-left: -1.5rem;
    }

    tr,
    td {
        height: 100%;
        font-size: 1rem;
    }

    .actions {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
}

.description {
    width: 35%;
}

.info {
    width: 12%;
}

.title {
    width: 15%;
}

.buttons {
    width: 7%;
}

.comic-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.comic-description {
    font-size: 0.8rem;
}

.comic-info {
    margin: 0;
}

.comic-rows {
    padding-bottom: 1.5rem;
}

.comic-label {
    font-weight: bold;
}

.pagination {
    width: 100%;
    display: flex;

    li {
        margin: 0 0;
    }
}
