@import "~bootstrap/scss/bootstrap";

body {
    background-color: #444444;
}

.general-container {
    width: 80vw;
    height: 100vh;
    margin-inline: auto;

    .main-title {
        color: white;
        text-align: center;
        font-weight: bold;
        margin-bottom: 2rem;
    }
}
