@import "~bootstrap/scss/bootstrap";
@import "partials/show";
@import "partials/create";

body {
    background-color: #444444;
}

.container {
    background-color: #444444;
    color: white;

    img {
        width: 30%;
        aspect-ratio: 1 / 1.5;
        object-fit: cover;
    }

    a {
        margin-bottom: 2rem;
    }
}

.general-container {
    width: 90vw;
    height: 100vh;
    margin-inline: auto;

    .main-title {
        color: white;
        text-align: center;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .comic-thumb {
        width: 200px;
        height: auto;
        aspect-ratio: 1 / 1.5;
        object-fit: cover;
    }

    li {
        white-space: nowrap;
        height: 100%;
    }

    td {
        height: 100%;
    }

    .actions {
        height: 100%;

        .button-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            height: 100%;
            align-content: center;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
