$primary-color: #3490dc;

.show-container {
    width: 80vw;
    max-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 3rem;
        color: white;
    }

    .btn {
        border: none;
        color: white;
        padding: 1rem 3rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2rem;
        margin: 2rem 0;
        cursor: pointer;
    }

    .show-content {
        width: 100%;
        display: flex;
        gap: 3rem;

        .image-container {
            width: 30%;

            img {
                width: 100%;
                height: auto;
                aspect-ratio: 1 / 1.5;
                object-fit: cover;
            }
        }

        .show-text-container {
            width: 70%;

            .description {
                width: 100%;
                margin-bottom: 3rem;
            }

            .info {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .left,
                .middle,
                .right {
                    flex: 1;
                }
            }
        }

        .info-text {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: $primary-color;
        }

        .info-value {
            color: white;
            font-size: 1rem;
            font-weight: normal;
        }
    }

    ul {
        margin-left: -2rem;

        li {
            margin-bottom: 0.25rem;
            color: white;
        }
    }
}
